---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import IntroAnimation from '../components/IntroAnimation.astro';
import AboutSection from '@/components/AboutSection.astro';
import CatchSection from '@/components/CatchSection.astro';
---

<Layout>
	<IntroAnimation />
  
  <main slot="after">
    <AboutSection />
    <CatchSection />
  </main>
</Layout>

</Layout>