---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import IntroAnimation from '../components/IntroAnimation.astro';
---

<Layout>
	<IntroAnimation />
	 <main class="flex items-center justify-center" style="position: absolute; z-index: 0; top: 260vh; left: 50%; transform: translate(-50%, -50%);">
		<span>test</span>
	</main>
</Layout>