---
import { INSTAGRAM_INFO } from "@/constants/global";
import LinkButton from "./LinkButton.astro";
---

<section class="text-center text-white">
  <h2 class="text-3xl font-extrabold animate-pulse">
    Tu pasión, inmortalizada
  </h2>
  <p class="text-gray-400">
    Fotografía deportiva
  </p>

  <div class="p-4 flex flex-wrap justify-center gap-4">
    <LinkButton
      href={INSTAGRAM_INFO.url}
      title={INSTAGRAM_INFO.name}
      target="_blank"
      customClass="bg-gradient-to-r from-pink-500 to-yellow-500 hover:opacity-90 text-black"
    >
      <INSTAGRAM_INFO.icon slot="before" />
      @{INSTAGRAM_INFO.username}
    </LinkButton>
  </div>
</section>
