---
import LinkButton from "./LinkButton.astro";
import { TELEGRAM_INFO } from "@/constants/global";
---

<section class="text-center py-10 sm:px-6 px-20 bg-gray-900 text-white">
  <h3 class="text-2xl font-semibold mb-4">¿Crees que te he cazado?</h3>

  <p class="text-gray-400 max-w-xl mx-auto mb-6">
    Si has pasado por delante de mi objetivo, puede que tengas una foto
    esperándote. Entra al canal y comprueba si estás entre ellas.
  </p>

  <div class="flex justify-center">
      <LinkButton
        href={TELEGRAM_INFO.url}
        title={TELEGRAM_INFO.name}
        target="_blank"
        customClass="bg-gray-800 hover:bg-gray-700"
      >
      <TELEGRAM_INFO.icon slot="before" />
        Únete al canal de Telegram
      </LinkButton>
  </div>

</section>
