---
const logo = "/images/title/title-white.png";
const background = "/images/test/main-photo.jpg";
---
<div id="camera-mask" class="fixed top-0 w-full h-screen">
    <section>
        <picture id="background-key" class="h-screen scale-155 block overflow-hidden fixed">
            <img id="background-key-image" src={background} class="w-full h-full object-cover">
        </picture>
    </section>
    <div class="fixed flex flex-col items-center justify-between h-screen px-20 py-16 w-full">
        <header class="flex justify-between w-full">
            <a href="#">
                <img id="logo" src={logo} alt="Logo" class="h-12 cursor-pointer"/>
            </a>
        </header>

        <footer id="footer" class="flex flex-col items-center">
            <span class="absolute bottom-10 uppercase text-gray-400 animate-bounce">Desliza hacia abajo</span>
        </footer>
    </div>
</div>

<img id="logo-transparent" src="/images/logo/logo-transparent.png" alt="Carbolens" class="fixed pointer-events-none" style="opacity: 0; top: 36.3vh; left: 50%; transform: translate(-50%, -50%); width: 28.5vw; height: 45vh; will-change: opacity;" />


<script>
  import {gsap} from "gsap";
  import {ScrollTrigger} from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  const tl = gsap.timeline({
    ease: "power2.out",
	scrollTrigger: {
		scrub: 1,
	}
  })

  tl.to("#background-key", {
    scale: 1,
    duration: 1,
    scrollTrigger: {
      scrub: 1
    }
  })
  .to("#logo", {opacity: 0, duration: 1})
  .to("#camera-mask", {maskSize: "clamp(40vh, 35%, 55vh)", duration: 2}, 0.15)
  .to("#footer", {opacity: 0, duration: 1}, "<")
  .to("#keep-scrolling", {opacity: 0, duration: 1}, "<")
  .to("#background-key", {opacity: 0, duration: 1}, 1.8)
  .to("#logo-transparent", {opacity: 1, duration: 1}, 2.1);
</script>

<style>
    #camera-mask{
        mask-image: url("/images/logo/logo-transparent.png");
        mask-position: center 25%;
        mask-repeat: no-repeat;
        mask-size: clamp(3000vh, 3500%, 0vh);
    }
</style>