---
const logo = "/images/title-white.png";
const background = "/images/main-photo.jpg";
---
<div id="camera-mask" class="fixed top-0 w-full h-screen">
    <section>
        <picture id="background-key" class="h-screen scale-155 block overflow-hidden absolute inset-0 z-[-1]">
  <img id="background-key-image" src={background} class="w-full h-full object-cover" />
</picture>
    </section>
    <div class="fixed flex flex-col h-screen px-20 py-16 w-full">
        <header id="header" class="flex md:justify-between justify-center w-full">
            <a href="#">
                <img src={logo} alt="Logo" class="h-12 cursor-pointer"/>
            </a>
            <div class="hidden md:flex sm:hidden gap-6">
                <p>Telegram</p>
                <p>Sobre mí</p>
            </div>
        </header>

        <footer id="footer" class="flex flex-col items-center">
            <span class="absolute bottom-10 uppercase text-gray-400 animate-bounce">Desliza hacia abajo</span>
        </footer>
        <img id="logo-transparent" src="/images/logo-transparent.png" alt="Carbolens" class="absolute pointer-events-none" style="opacity: 0; left: 50%; transform: translate(-50%, -50%); will-change: opacity; width: clamp(40vh, 35vw, 55vh); top: clamp(33.3vh, 20.9vw, 36.3vh);" />
    </div>
</div>


<script>
  import {gsap} from "gsap";
  import {ScrollTrigger} from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  ScrollTrigger.create({
    trigger: "#camera-mask",
    start: "top top",
    end: "+=190%", 
    pin: true,
    scrub: 1,
    onLeave: () => {
        const mask = document.querySelector("#camera-mask") as HTMLElement;
        if (mask) {
        mask.style.pointerEvents = "none";
        }

        },
    });

  const tl = gsap.timeline({
    ease: "power2.out",
	scrollTrigger: {
		scrub: 1,
	}
  })

  tl.to("#background-key", {
    scale: 1,
    duration: 1,
    scrollTrigger: {
      scrub: 1
    }
  })
  .to("#logo", {opacity: 0, duration: 1})
  .to("#camera-mask", {maskSize: "clamp(40vh, 35%, 55vh)", duration: 2}, 0.15)
  .to("#footer", {opacity: 0, duration: 1}, "<")
  .to("#keep-scrolling", {opacity: 0, duration: 1}, "<")
  .to("#background-key", {opacity: 0, duration: 1}, 1.8)
  .to("#logo-transparent", {opacity: 1, duration: 1}, 2.1);
</script>

<style>
    #camera-mask {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    mask-image: url("/images/logo-transparent.png");
    mask-position: center 25%;
    mask-repeat: no-repeat;
    mask-size: clamp(3000vh, 3500%, 0vh);
    z-index: 10;
}
</style>