---
import SEO from "./SEO.astro";
import KeepScrolling from "../../public/images/keep-scrolling.svg";
---

<html lang="es">
  <SEO/>
  <body>
    <slot />
    <KeepScrolling id="keep-scrolling" class="fixed bottom-3 right-0 left-0 mx-auto drop-shadown-2xl animate-bounce text-gray-400 z-10"/>
    <div id="content" class="fixed w-full items-center justify-center px-12">
      <slot name="after" />
    </div>
  </body>
</html>

<style is:global>
  html,
  body {
    background: #111111;
    height: 300vh;
    overflow-x: hidden;
    overscroll-behavior: none;
    color: white;
    margin: 0;
    width: 100%;
  }

  #content {
    position: absolute;
    top: 240vh;
    padding-top: 50px;
    z-index: 10;
  }

  @media (min-width: 300px) and (max-width: 768px) { 
    #content {
      top: 230vh;
    }
  }

   @media (min-width: 769px) and (max-width: 1024px) {
    #content {
      top: 232vh;
    }
  }
</style>


