---
import SEO from "./SEO.astro";
import KeepScrolling from "../../public/images/test/keep-scrolling.svg";
---

<html lang="es">
  <SEO/>
  <body>
    <slot />
    <KeepScrolling id="keep-scrolling" class="fixed bottom-3 right-0 left-0 mx-auto drop-shadown-2xl animate-bounce text-gray-400"/>
  </body>
</html>

<style is:global>
	html,
	body {
    background: #111;
		height: 300vh;
    overflow-x: hidden;
    overscroll-behavior: none;
    color: white;
    margin: 0;
    width: 100%;
	}
</style>
